/*

    Colores
    La mayoría Las pantallas funcionan con un modo de color
    aditivo. 
    La suma de RGB da como resultado un blanco
    Tenemos varias formas de dar color en CSS
    
    Keywords -> Palabras clave que representan colores https:/
    /www.w3.org/wiki/CSS/Properties/color/keywords
    
    IMPORTANTE: Recordad que existe el color "transparent"

    CurrentColor: Es una palabra clave que se puede usar en
    Lugar de cualquier valor de color y usará el valor ya sea
    establecido o heredado en la propiedad color.
    
    */
    
body{
    margin: 0;
    background-color: #333;
    color: aqua;
}

.box{

    margin-bottom: 10px;
    
    width: 300px;
    height: 300px;

    background-color: #71f;

}

#box-2{

    background-color: green; /*Hay que distinguir entre color y background color*/
    color: black; /*Colorea el color del contenido*/
}


#box-3{
    width: 0;
    height: 0;
    
    border-top: 100px solid blue; 
    border-left: 100px solid red;
    border-bottom: 100px solid green;

    background-color: transparent;

}

#box-4{
    color: lightgoldenrodyellow; 
    background-color: currentColor; /*Heredar de la propiedad Color del padre o  si el propio elemento tieen esa propiedad lo adapta*/
    /*Ya no estan USADO!*/
}